.main_content
{
    background: #f0efe2;
    width: 100%;
}
.main_title_container
{
    width: 100%;
    padding: 30px 20px 20px 30px;
}
.main_subtitle
{
    font-size: 30px;
    font-weight: 500;
    color: #7a798c;
    line-height: 0.55;
}
.main_title
{
    font-size: 92px;
    font-weight: 800;
    color: #100f3a;
    line-height: 0.75;
    margin-top: 12px;
}

.main_content_scroll
{
    margin-top: 32px;
    max-height: calc(100% - 193px - 72px - 30px);
    padding: 0px 20px 20px 30px;
}

.about_title
{
    font-size: 30px;
    font-weight: 700;
    color: #100f3a;
}

.about_text
{
    color: #59546d;
    margin-top: 31px;
}
.card-deck
{
    padding: 0px 20px 20px 20px;
}

.card
{
    align-items: center;
    padding-top: 20px;
}

.card img
{
    width: 200px;
    height: 200px;
}

.card-body
{
    align-items: center;
}

.card-title
{
    color: #59546d;
    font-weight: bold;
}

.card-text
{
    color: #59546d;
}